textarea {
    width: 99%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: gray;
    font-size: 20 ;
    font-face: arial ;
    resize: none;
}